<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nemo hic repellat nobis, cumque error laudantium modi eius! Aliquam officiis culpa veniam non doloremque soluta fugiat consequatur? Laboriosam, architecto porro!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas impedit minima quo quibusdam velit, tenetur praesentium atque totam repellat consectetur unde quos vitae, quod, repellendus labore ullam esse! Modi, nulla.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorum repellendus iure, assumenda rem vitae. Consequatur sunt cumque soluta, dignissimos, minima culpa modi voluptas temporibus tempore exercitationem quam veritatis ullam.</p>

    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>